.body {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid ;
    display: flex;
    background-color:#f0f8ff ;
}
 caption{
    font-size: 1.5em;color: rgb(200,190,240);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-align: center;

}
 th {
    background-color: rgb(35, 37, 70);
    color: rgb(200,190,240);
    padding: 10px;
}
 .calender .previous{
    padding: 10px;
    text-align: center;
    width: 14%;
    border: 1px solid #dddddd;

}
td:first-child,
td:last-child {
    background-color: rgb(255, 220, 220);
}
.calender.previous,
.calender .next{
    color: gray;
    background-color: rgb(250,120,120);
}

.calender .previousmonth .holiday {
    background-color: rgb(250,120,120);
    color: white;
    font-weight: bold;
}