
a {
    display: inline-block;
    padding-left: 30px; /* Increase the padding to add space between the text and the icon */
    background-image: url("sign-right-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    text-decoration: none;
    color: darkblue;
}

