
#playField {
    width: 600px;
    height: 800px;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
}
img {
    position: absolute;
    width: 48px;
    height: 48px;
}



#target {
    position: absolute;
}