.grid-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap:20px;
    width: 100%;
}
header{
    grid-area: header;
    grid-column: 1/3;
    grid-row: 1;
    background-color: lightpink;
}
nav{
    grid-area: nav;
    grid-column: 1/2;
    grid-row: 2;
    background-color: goldenrod;
}
main{
    grid-area: main;
    grid-column: 2/3;
    grid-row: 2;
    background-color: antiquewhite;
}
aside{
    grid-area: aside;
    grid-column: 2/3;
    grid-row: 3;
    background-color: palevioletred;
}
footer{
    grid-area: footer;
    grid-column: 1/2;
    grid-row: 3;
    background-color: beige;
}